@import '../../themes/variables.scss';
@import '../../themes/mixins.scss';

.m-dashboard {

	&-wrapper {
		height: 100%;
	}

	&-menu {
		@include border('right');
		height: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		// overflow: auto;

		&-shrink {
			flex-shrink: 1;
		}
		&-grow {
			overflow: overlay;
		}
	}
	&-menu-item {
		@include padding(gap());
	}


	.list-serba-guna {
		@include border();
		// padding-top: 0;
		// padding-bottom: 0;
	}
}
